<launch>
  <node pkg="localization_data_pub" type="odometry_pub" name="odometry_pub"/>
  <node pkg="localization_data_pub" type="rpm_pub" name="rpm_pub"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="back_right" args="0 0 0 0 0 0 1 world odom " />

  <param name="use_sim_time" value="true"/>
  
  <param name="pose/X" value="0.0"/>
  <param name="pose/Y" value="0.0"/>
  <param name="pose/Theta" value="0"/>
  <node pkg="rosbag" type="play" name="player" args="-l --clock /home/martin/catkin_ws/src/robotics_project/localization_data_pub/bags/bag1.bag"/>
</launch>
